*.pyc
*~
__pycache__
kartlivenv
db.sqlite3
kartli_reference.log
.DS_Store
/Lib
/Scripts
/Include
pip-selfcheck.json
*.cfg
.idea/
kartli_reference.log
media/excels/polymers.xlsx
/sql_backups
/assets/*
node_modules
node_modules
